*{
    margin: 0px;
    padding: 0px;
}

.logo{
    height: 70px;
  width: 56px;
  display: flex;
  align-items: revert;
  justify-content: space-between;
  padding-left: 120px;
 
}
/* a:hover {
    background-color: rgba(195, 187, 187, 0.211);
    
  } */
  a:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }
.navbar{
    height: 165px;
   
   overflow: hidden;
   /* position: relative; */
   position: sticky;
   top: 0;
   cursor: pointer;
  
   background-color: white;
  
}
.nav-link li:hover .mega-box{
    top: 65px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.mega-box{
    position: absolute;
    top: 65px;
    background: white;
    width: 100%;
    left: 0;
    opacity: 0;
    /* visibility: hidden; */
    
}
.mega-box .content{
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.content .row{
    width: calc(25% - 30px);
    line-height: 45px;
}
.content .row header{
    color: red;
    font-size: 20px;
    font-weight: 500;
}
.content .row .mega-link{
    margin-left: -40px;
    border-left: 1px solid rgba(255, 255,255, 0.09);
}
.content .row:nth-child(1),
.content .row:nth-child(2){
    border-left: 0px;
}
.row.mega-link li{
    padding: 0 20px;
}
.row.mega-link li a{
    padding: 0 20px;
    color: red;
    font-size: 17px;
    display: block;
}
.nav-list2{
    display: flex;
   overflow: hidden;
   position: absolute;
  
   
 
   
}
.nav-toggle{
    padding-left: 3pc;
    display: none;
}
.nav-list{
    
    display: flex;
    list-style: none;
    justify-content: right;
    padding-left: 57%;
    padding-left: 57%;
  /* padding-top: 20px; */
  padding-bottom: 25px;
  padding-right: 45px;
  align-items: flex-end;
  overflow: hidden;
 


}
.nav-list li a {
    text-decoration: none;
    color: black;
   padding: 26px 20px;
   overflow: hidden;
 
}
.bx-search::before{
    padding-right: 10px;
    overflow: hidden;
    
}
.bx-support::before{
    padding-right: 10px;
    overflow: hidden;
   
}
.bx-user::before{
    padding-right: 10px;

    overflow: hidden;
    


}

.nav-list2{
    position : absolute;
    width : 100%;
    height: 100px;
    bottom : 10;
    display: flex;
    justify-content: space-evenly;
   padding-left: 10%;
   text-decoration: none;
   list-style: none;
   overflow: hidden;
   
}
.nav-list2 li a  {
    text-decoration: none;
    list-style: none;
    color: black;
  
}

.home ul a{
    text-decoration: none;
    list-style: none;
    color: black;
    overflow: hidden;
   
    
}
.home{
   
    padding-left: 9%;
    overflow: hidden;
   
}
.home ul li  {
    text-decoration: none;
    list-style: none;
    color: black;
    overflow: hidden;
   
}

.Book{
    height: 50%;
    width: auto;
    color: red;
    padding-left: 7%;
    padding-top: 5%;
    font-size: 350%;
    font-weight: 800;
    overflow: hidden;
    flex-wrap: wrap;
    
    
}

.writting{
    padding-left: 4%;
    margin: auto;
    font-size: larger;
    font-weight: 400;
    color: brown;
    height: 90px;
  width: 84%;
  padding-right: 5pc;
  overflow: hidden;
  flex-wrap: wrap;
  
}

 .hero::after{
    content: "";
    clear: both;
    display: table;
   overflow: hidden;
   flex-wrap: wrap;
  
}
.box{
    float: left;
    width: 38.33%;
    padding: 5px;
    padding-left: 110px;
    overflow: hidden;
   
    
} 
.box p{
    height: 50px;
  
  width: 109%;
  padding-left: 3pc;
  font-size: 25px;
  font-weight: 400;
  top: 20px;
  padding-top: 10px;
  overflow: hidden;
  
}
.box a{
    text-decoration: none;
    color: black;
    overflow: hidden;
    overflow: hidden;
   
}

.hero2{
    content: "";
    clear: both;
    display: table;
    overflow: hidden;
   
}
.hero3{
    content: "";
    clear: both;
    display: table;
    overflow: hidden;
  
}

.main{
    padding-top: 6pc;
    overflow: hidden;
    flex-wrap: wrap;
   
}
.main-footer{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: white;
}
.ul-1{
    padding-left: 8pc;
  list-style: none;
  /* width: 15pc; */
  overflow: hidden;
  background-color: white;
}
.ul-1  a {
    text-decoration: none;
    color: black;
    text-overflow: unset;
    overflow: hidden;
    flex-wrap: wrap;
    background-color: white;
}
.ul-1 li {
    padding-bottom: 10px;
    overflow: hidden;
   position: relative;
}
.main2-footer{
    display: flex;
    overflow: hidden;
    padding-top: 3pc;
    flex-wrap: wrap;

}
.main3-footer{
    display: flex;
    overflow: hidden;
    padding-top: 3pc;
    flex-wrap: wrap;
    
}

.sub-footer{
    display: flex;
    overflow: hidden;
    overflow: hidden;
    flex-wrap: wrap;
  
}
.tata img{
    padding-left: 7pc;
    padding-top: 3pc;
    overflow: hidden;
    flex-wrap: wrap;
    
}
#air-logo{
    padding-left: 50pc;
    flex-wrap: wrap;
  
}

.copyright{
    padding-top: 5px;
    font-size: 0.7rem;
    text-align: center;
    overflow: hidden;
    flex-wrap: wrap;
    
}
.copyright-1{
    padding-top: 5px;
    font-size: 0.7rem;
    text-align: center;
    text-decoration: none;
    color: black;
    list-style: none;
    overflow: hidden;
    flex-wrap: wrap;
    
}
